# Python/OS junk
**/__pycache__/
*.py[cod]
*.class
.env
.venv/
venv/
.DS_Store

# Infrastructure (managed separately)
terraform/
.terraform/
terraform.tfstate*
k8s/
Jenkinsfile
jenkins_home/

# Data and Logs
logs/
mlruns/
output/
*.json

results/*.csv
results/*.png
debug_data/*.csv
debug_data/*.txt
external_data/

# Keep the folder structure but start them empty
!results/
!debug_data/

