version: '3.8'

services:
  macro-engine:
    build: .
    volumes:
      - .:/app  # Maps your local folder to the container
      - ./data:/app/data
    env_file:
      - .env
    # This command runs the whole pipeline inside the container
    command: >
      sh -c "python scripts/fred_ingestion.py && 
             cd dbt_macro && dbt run --profiles-dir . && 
             cd .. && python scripts/bvar_ultra.py"
# The New Jenkins Service
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # Allows Jenkins to use Docker
    networks:
      - macro-network

networks:
  macro-network: