# --- Core Math & Data ---
pandas<2.0.0
requests
pdfplumber
sympy<1.13
openpyxl
lxml
symengine
scipy<1.11.0
scikit-umfpack

# --- CI/CD & Testing ---
pytest
pytest-mock

# --- Infrastructure ---
psutil
networkx